body {
    font-family: "Rockwell", serif;
}

#container {
    display: flex;
    background-color: var(--white);
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--black);
    font-size: 3.0rem;
    font-weight: bold;
    margin: 1.8rem 0 0.4rem 0;
    text-align: center;
    font-family: inherit;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    background-color: var(--white);
    font-family: inherit;
    cursor: pointer;
    border: 2px solid var(--black);
    min-width: 80px;
    min-height: 80px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: var(--lightGray);
}